@font-face {
    font-family: "ProximaNovaBold";
    //font-display: swap;
    src: url("/public/fonts/ProximaNova-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "ProximaNovaCondExtrabld";
    //font-display: swap;
    src: url("/public/fonts/ProximaNovaCond-Extrabld.woff") format("woff");
    font-style: normal;
    font-weight: 650;
}

@font-face {
    font-family: "ProximaNovaCondBold";
    //font-display: swap;
    src: url("/public/fonts/ProximaNovaCond-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 650;
}

@font-face {
    font-family: "ProximaNovaExtrabld";
    //font-display: swap;
    src: url("/public/fonts/ProximaNova-Extrabld.woff") format("woff");
    font-style: normal;
    font-weight: 650;
}

@font-face {
    font-family: "ProximaNovaRegular";
    //font-display: swap;
    src: url("/public/fonts/ProximaNova-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}